<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Flask Inventario</title>
</head>
<body>
    <h1>App Flask Inventario</h1>
    <p>Esta es una aplicación web que permite llevar un control de inventario de productos.</p>
    <form method="get" action="/">
        <input type="submit" value="Ver productos">
        <input type="submit" value="Agregar producto">
    </form>


    
  
</body>
</html>